@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

/* ======================= GLOBAL */

:root{
   --light-color: #f8f8f2;
   --dark-color: #282a36;
   --red-color: #ff5555;
   --green-color: #50fa7b;
   --purple-color: #bd93f9;
   --background: #f2f3f5;
   --dark-background: #44475a;
   --blue-background: #383a59;
}  

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;

}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: var(--background);

}

a {
   text-decoration: none;
}

button {
   font-size: inherit;
}
